# Gemini AI
GEMINI_API_KEY=AIzaSyAsySOPyTcCJRCAYDigZuXN5ZRPELpQyWk

# Twilio WhatsApp
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=b40128e8b8de902e0b6b362bca6c16b2
TWILIO_WHATSAPP_FROM=whatsapp:+18882981808
